@import "./base/Normalize.css";
.button {
  padding: 8px 15px;
  background: #e35028;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
}
.button_transparent {
  background-color: transparent;
}
.button_phones {
  padding: 8px 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2f3234;
  font-size: 12px;
}

.through-title {
  font-family: "Gagalin", Helvetica, sans-serif;
  font-size: 4.5rem;
  color: #f9b43b;
}
.through-title_color_black {
  color: #2f3234;
}
.through-title_align_center {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}
@media screen and (max-width: 480px) {
  .through-title_align_center {
    text-align: center;
    margin-bottom: 30px;
    line-height: 4.4rem;
  }
}
.through-title_margin {
  margin-bottom: 40px;
}
.through-title_color_white {
  color: #fff;
  margin-top: 60px;
  margin-left: 45px;
}
.through-title_lineheight {
  line-height: 1em;
  margin-bottom: 35px;
}
@media screen and (max-width: 798px) {
  .through-title_lineheight {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .through-title_phones {
    width: 50%;
    margin-bottom: rem(40px);
    font-size: 35px;
    margin-left: 0;
    margin-top: 35px;
  }
}
@media screen and (max-width: 480px) {
  .through-title_team {
    text-align: center;
  }
}

.fixed-menu {
  position: fixed;
  top: 10%;
  left: 95%;
}
@media screen and (max-width: 480px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  position: relative;
  width: 6px;
  height: 6px;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 50%;
  padding: 2px;
}
.fixed-menu__item:hover .fixed-menu__item-border {
  opacity: 1;
}

.fixed-menu__item-border {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  border-radius: 50%;
  opacity: 0;
}

.fixed-menu__item_active .fixed-menu__item-border {
  opacity: 1;
}

html {
  font-size: 16px;
  zoom: normal;
}
@media screen and (max-width: 798px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-size: 1rem;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.container {
  margin: 0 auto;
  position: relative;
  max-width: 58.75rem;
  width: 95%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 798px) {
  .container {
    max-width: 45rem;
  }
}
@media screen and (max-width: 480px) {
  .container {
    max-width: 90%;
    width: 90%;
    padding-right: 10px;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-height: 40.625rem;
}
@media screen and (max-width: 798px) {
  .wrapper {
    min-height: auto;
  }
}
@media screen and (max-width: 480px) {
  .wrapper {
    min-height: auto;
  }
}

.maincontent {
  height: 100%;
  min-height: 40.625rem;
  transition: 1s;
}
@media screen and (max-width: 798px) {
  .maincontent {
    min-height: auto;
  }
}
@media screen and (max-width: 480px) {
  .maincontent {
    min-height: auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.section {
  height: 100vh;
  min-width: 40.625rem;
}
.section_vertical_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 798px) {
  .section {
    min-width: 49.875rem;
  }
}
@media screen and (max-width: 480px) {
  .section {
    min-width: 28.75rem;
    height: 100%;
  }
}

.leading {
  background: url("../img/main-bg.jpg") center center no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  align-items: center;
  position: relative;
}

.nav {
  margin-right: 0.9375rem;
}
@media screen and (max-width: 798px) {
  .nav {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
}

.nav__list {
  display: flex;
}
@media screen and (max-width: 798px) {
  .nav__list {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .nav__item {
    margin-bottom: 10px;
    margin-right: 20px;
  }
}

.nav__link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 0.8125rem;
  text-transform: uppercase;
}
.nav__link:after {
  content: "";
  display: block;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  background: #fff;
  margin: 0 1rem;
}
@media screen and (max-width: 480px) {
  .nav__link:after {
    display: none;
  }
}

.nav__item:last-child .nav__link:after {
  display: none;
}

.header__buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.burger__menu {
  display: none;
}
@media screen and (max-width: 798px) {
  .burger__menu {
    display: block;
  }
}

.burger__menu-trigger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.burger__menu-stick {
  content: "";
  background: #fff;
  width: 24px;
  height: 4px;
  margin-bottom: 5px;
  border-radius: 3px;
  margin-left: 30px;
}
.burger__menu-stick:last-child {
  margin-bottom: 0;
}

.leading__content {
  flex: 0.8;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 798px) {
  .leading__content {
    flex-direction: column;
    text-align: center;
    padding: 0 90px;
  }
}
@media screen and (max-width: 480px) {
  .leading__content {
    padding: 0;
  }
}

.leading__pic-img {
  display: block;
  max-width: 100%;
}

.leading__description {
  font-family: "Lifehack-Medium", Helvetica, sans-serif;
  font-size: 4.0625rem;
}

.leading__text {
  color: #fff;
}

.container__leading {
  flex: 0.8;
  height: 100%;
}

.arrow-down {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 90%;
  left: 50%;
  content: "";
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(-45deg);
}

.burger-menu {
  position: fixed;
  top: 100%;
  z-index: 99999;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  height: 100%;
  transition: 1s;
}

.burger-menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__pic {
  margin-left: 24px;
}

.burger-menu__content {
  display: flex;
  height: 100%;
}

.burger-menu__nav {
  margin: auto;
}

.burger-menu__nav-list {
  text-align: center;
}

.burger-menu__nav-item {
  position: relative;
  margin-bottom: 20px;
}
.burger-menu__nav-item::after {
  content: "";
  width: 5px;
  height: 5px;
  background: #fff;
  display: block;
  border-radius: 50%;
  margin-right: 0;
  position: absolute;
  top: 30px;
  left: 65px;
}
.burger-menu__nav-item:last-child::after {
  display: none;
}

.burger-menu__nav-link {
  font-family: "Gagalin", Helvetica, sans-serif;
  color: #fff;
  font-size: 1.25rem;
  text-decoration: none;
}

.cross__pic {
  width: 20px;
  height: 20px;
  margin-right: 36px;
  margin-top: 5px;
}

.nav__active {
  top: 0;
}

.best {
  background: url("../img/best-bg.jpg") center center no-repeat;
  background-size: cover;
}

.best__list {
  display: flex;
}
@media screen and (max-width: 480px) {
  .best__list {
    flex-direction: column;
  }
}

.best__item {
  text-align: center;
  width: 18.75rem;
  margin-right: 2.5rem;
}
.best__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 480px) {
  .best__item {
    margin: 0;
    display: flex;
    align-items: flex-start;
    width: 100%;
    text-align: left;
    margin-bottom: 3.125rem;
  }
}

.best__title {
  font-family: "Lifehack-Medium", Helvetica, sans-serif;
  margin-top: 2.5rem;
  margin-bottom: 1.5625rem;
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  .best__title {
    margin-top: 0;
  }
}

@media screen and (max-width: 480px) {
  .best__content {
    margin-left: 1.5625rem;
  }
}
@media screen and (max-width: 480px) {
  .best__content_align {
    margin-left: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .best__content_last {
    margin-left: 1.875rem;
  }
}

.best__title {
  font-size: 1.5625rem;
}

.best__desription {
  font-size: 0.875rem;
}
@media screen and (max-width: 480px) {
  .best__desription {
    font-size: 1rem;
  }
}

.catalog {
  background: url("../img/catalog-bg.png") center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.slider {
  width: 90%;
  height: 100%;
}
@media screen and (max-width: 480px) {
  .slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
  }
}

.slick__item {
  display: flex;
  width: 100%;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .slick__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.composition__title {
  font-family: "Gagalin", Helvetica, sans-serif;
}

.composition {
  background: #f08c33;
  padding: 0.625rem 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 5.625rem;
  border-radius: 0.3125rem;
  color: #fff;
  text-decoration: none;
  position: relative;
}
.composition:hover .dropdown {
  left: 5.625rem;
}

.dropdown {
  font-family: "Gagalin", Helvetica, sans-serif;
  font-size: 14px;
  width: 300px;
  height: 295px;
  position: absolute;
  top: 0;
  left: -6249999.9375rem;
  background: rgba(255, 255, 255, 0.5);
  transition: 0.2s;
  color: black;
  box-shadow: 5px 7px 10px #000;
  border-radius: 10px;
}

.dropdown__list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.dropdown__item {
  display: flex;
  align-items: center;
  padding: 5px;
  padding-left: 25px;
  padding-right: 15px;
}
.dropdown__item:hover {
  background: white;
  border-radius: 10px;
}

.dropdown__item-pic {
  margin-right: 20px;
}

.dropdown__item-text {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.container-catalog {
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 20px;
}
@media screen and (max-width: 798px) {
  .container-catalog {
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .container-catalog {
    padding: 0;
    height: 100%;
    padding-right: 17px;
  }
}

.arrow__left {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 1%;
  content: "";
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(45deg);
}
@media screen and (max-width: 798px) {
  .arrow__left {
    left: 4%;
  }
}
@media screen and (max-width: 480px) {
  .arrow__left {
    top: 45%;
  }
}
.arrow__right {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 97%;
  content: "";
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(-135deg);
}
@media screen and (max-width: 480px) {
  .arrow__right {
    left: 93%;
    top: 45%;
  }
}

.catalog__picture,
.catalog__content {
  width: 50%;
}
@media screen and (max-width: 798px) {
  .catalog__picture,
.catalog__content {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .catalog__picture,
.catalog__content {
    width: 100%;
  }
}

@media screen and (max-width: 798px) {
  .catalog__picture {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

.catalog__picture-icon {
  margin-right: 1.25rem;
}
@media screen and (max-width: 798px) {
  .catalog__picture-icon {
    display: flex;
    max-width: 100%;
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .catalog__picture-icon {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .catalog__picture-calorie {
    width: 8.75rem;
  }
}

@media screen and (max-width: 798px) {
  .catalog__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}

.catalog__content-description {
  line-height: 1.8em;
  color: #fff;
  font-size: 0.875rem;
}
@media screen and (max-width: 798px) {
  .catalog__content-description {
    width: 90%;
  }
}

.catalog__content-price {
  display: flex;
  align-items: baseline;
}
@media screen and (max-width: 798px) {
  .catalog__content-price {
    justify-content: center;
  }
}

.price__numeral {
  font-family: "Gagalin", Helvetica, sans-serif;
  font-size: 4.5rem;
  color: #e35028;
}

.price__text {
  font-family: "Gagalin", Helvetica, sans-serif;
  margin-right: 1.875rem;
  margin-left: 0.625rem;
  color: #e35028;
}

.burger-pic {
  display: block;
  max-width: 100%;
}
@media screen and (max-width: 480px) {
  .burger-pic {
    padding-top: 6.25rem;
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .bx-wrapper .bx-next {
    left: 97%;
  }
}

@media screen and (max-width: 480px) {
  .bx-wrapper .bx-prev {
    left: -3%;
  }
}

@media screen and (max-width: 480px) {
  .bx-wrapper {
    height: 100%;
  }
}

.team {
  background: url("../img/team-bg.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
}

.team__container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  background: rgba(47, 50, 52, 0.93);
  padding-left: 4.375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 798px) {
  .team__container {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .team__container {
    padding: 0;
  }
}

.team__content {
  height: 50vh;
  width: 100%;
}
@media screen and (max-width: 798px) {
  .team__content {
    flex-direction: column;
    align-items: center;
  }
}

.team-trigger {
  font-family: "Gagalin", Helvetica, sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
}
.team-trigger:before {
  content: "";
  height: 0;
  width: 0;
  border: 0.5625rem solid transparent;
  border-top-color: #f9b43b;
  border-bottom-width: 0px;
  margin-right: 0.625rem;
}

.team-trigger__align {
  display: flex;
}

.trigger__content-pic {
  background: url("../img/team-avatar.jpg") center center no-repeat;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
}

.team-trigger__content {
  margin-top: 1.25rem;
  margin-left: 1.0625rem;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}
@media screen and (max-width: 798px) {
  .team-trigger__content {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 798px) {
  .team__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.team__item {
  margin-bottom: 40px;
}
@media screen and (max-width: 480px) {
  .team__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 798px) {
  .team__item_active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.team__item_active .team-trigger {
  color: #f9b43b;
}
.team__item_active .team-trigger:before {
  transform: rotate(-180deg);
}
@media screen and (max-width: 798px) {
  .team__item_active .team-trigger__content {
    margin-left: 0;
  }
}

.content-text__title {
  font-family: "Gagalin", Helvetica, sans-serif;
  margin-bottom: 1.25rem;
}

.trigger__content-text {
  margin-left: 1.25rem;
  color: #fff;
}
@media screen and (max-width: 798px) {
  .trigger__content-text {
    margin-left: 0;
  }
}

.reviews__list {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.reviews__item {
  width: 25%;
  height: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  position: relative;
}
.reviews__item:hover .reviews__hover {
  opacity: 1;
  transition: 0.3s;
}
@media screen and (max-width: 798px) {
  .reviews__item {
    width: 50%;
    height: 25%;
  }
}
@media screen and (max-width: 480px) {
  .reviews__item:hover .phones__button {
    opacity: 1;
    transition: 0.3s;
  }
}

.reviews__hover {
  opacity: 0;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(69, 69, 69, 0.7);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .reviews__hover {
    display: none;
  }
}

.reviews__hover-name {
  font-family: "Gagalin", Helvetica, sans-serif;
}

.phones__button-name {
  font-family: "Gagalin", Helvetica, sans-serif;
  color: #fff;
  text-align: center;
  font-weight: bold;
  width: 50%;
  margin-bottom: 1.875rem;
  font-size: 1.5rem;
}

.reviews__hover-text {
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  width: 90%;
  height: 40%;
  overflow: hidden;
  text-align: center;
}

.phones__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}

.menu {
  background: url("../img/menu-bg.jpg") center center no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  display: flex;
}

.menu__col {
  height: 100vh;
}
.menu__col_left {
  width: 40%;
}
@media screen and (max-width: 480px) {
  .menu__col_left {
    width: 0;
  }
}
.menu__col_right {
  width: 60%;
}
@media screen and (max-width: 480px) {
  .menu__col_right {
    width: 100%;
  }
}

.trigger {
  background: url(../img/menu-meat-bg.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
  width: 80px;
  position: relative;
}
@media screen and (max-width: 480px) {
  .trigger {
    width: 60px;
  }
}

.trigger_veg {
  background: url(../img/menu-veg-bg.jpg) center center no-repeat;
}

.trigger_veg {
  background: url(../img/menu-di-bg.jpg) center center no-repeat;
}

.trigger__text-title {
  font-family: "Gagalin", Helvetica, sans-serif;
  text-decoration: none;
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
  left: 50%;
  bottom: 15%;
  margin-top: -1.25rem;
  width: 50vh;
}

.menu__bar-list {
  display: flex;
  justify-content: flex-end;
}

.menu__bar-item {
  display: flex;
}

.trigger__content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  align-items: center;
}

.trigger__text {
  text-align: center;
}

.menu__bar-item_active .trigger__text {
  width: 90%;
}
.menu__bar-item_active .trigger__content-wrap {
  background: rgba(0, 0, 0, 0.6);
}

.contaier__delivery {
  flex-direction: row;
  align-items: center;
  width: 70%;
}
@media screen and (max-width: 480px) {
  .contaier__delivery {
    width: 95%;
  }
}

.delivery {
  background: url("../img/delivery-bg.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delivery__form {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 798px) {
  .delivery__form {
    flex-direction: column;
    align-items: center;
  }
}

.form__row {
  display: flex;
  margin-bottom: 20px;
}

.delivery__form-left {
  width: 50%;
}
@media screen and (max-width: 480px) {
  .delivery__form-left {
    width: 95%;
  }
}

.form__block {
  flex: 1;
  margin-right: 20px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__block-title {
  color: #fff;
  margin-bottom: 7px;
}

.form__input {
  border-radius: 5px;
  border: 3px solid transparent;
  padding: 5px;
  width: 100%;
  outline: none;
}
.form__input:focus {
  border: 3px solid #f9b43b;
}

.delivery__form-right {
  width: 50%;
  margin-left: 20px;
}
@media screen and (max-width: 798px) {
  .delivery__form-right {
    margin-left: 0;
  }
}
@media screen and (max-width: 480px) {
  .delivery__form-right {
    width: 95%;
  }
}

.form__buttons-row {
  display: flex;
  margin-top: 25px;
}
.form__buttons-row_margin_bottom {
  margin-bottom: 17px;
}
.form__buttons-row:first-child {
  margin-top: 20px;
}
@media screen and (max-width: 480px) {
  .form__buttons-row {
    display: flex;
    justify-content: center;
  }
}

.form__comment-title {
  color: #fff;
  margin-bottom: 7px;
}

.form__comment-area {
  border-radius: 5px;
  width: 100%;
  height: 6.875rem;
  resize: none;
  border: 3px solid transparent;
  outline: none;
}
.form__comment-area:focus {
  border: 3px solid #f9b43b;
}

.form__item {
  margin-left: 20px;
}
.form__item:first-child {
  margin-left: 0;
}

.form__item-label {
  display: flex;
  align-items: center;
}

.form__item-hidden {
  display: none;
}
.form__item-hidden:checked + .form__item-styling::before {
  opacity: 1;
}

.form__item-styling {
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  position: relative;
}
.form__item-styling::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background: #e35028;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0;
}

.form__item-payment {
  color: #fff;
  margin-left: 10px;
}

.form__item-styling_no-circle {
  border-radius: 0;
}
.form__item-styling_no-circle:before {
  content: "";
  background: #fff;
  left: 4px;
  top: 1px;
  width: 4px;
  height: 8px;
  border-left: 0;
  border-bottom: 3px solid #e35028;
  border-top: 0;
  border-right: 3px solid #e35028;
  transform: rotate(45deg);
  border-radius: 0;
}

@media screen and (max-width: 480px) {
  .form__buttons-bottom {
    display: flex;
    justify-content: center;
  }
}

.video {
  background: url("../img/best-bg.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.through-title_align {
  text-align: center;
  margin-bottom: 3.125rem;
}

.video__pic {
  width: 100%;
}

.video__img {
  width: 100%;
}

.maps {
  position: relative;
}

.map {
  width: 100%;
  height: 100%;
}

.footer {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 0.875rem;
  height: 3.75rem;
  display: flex;
  align-items: center;
  position: absolute;
  top: 94%;
  left: 0;
}
@media screen and (max-width: 480px) {
  .footer {
    height: 5rem;
    top: 92%;
  }
}

.container__footer {
  flex-direction: row;
  width: 100%;
}

.footer__col-left {
  width: 60%;
}
.footer__col-right {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer__phone {
  display: flex;
  color: #e35028;
}
.footer__phone-number {
  margin-left: 0.625rem;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer__social-item {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.footer__social-item_vk {
  width: 23px;
  height: 13px;
}
.footer__social-item_fb {
  width: 20px;
  height: 20px;
}
.footer__social-item_inst {
  width: 20px;
  height: 20px;
}
.footer__social-item_tw {
  width: 20px;
  height: 16px;
}

.footer__social-link {
  width: 100%;
  height: 100%;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
}

.footer__social-link_vk {
  background: url("../img/sprite-vk.png");
}
.footer__social-link_vk:hover {
  background-position: 0 -50px;
}

.footer__social-link_fb {
  background: url("../img/sprite-fb.png");
}
.footer__social-link_fb:hover {
  background-position: 0 -50px;
}

.footer__social-link_inst {
  background: url("../img/sprite-inst.png");
}
.footer__social-link_inst:hover {
  background-position: 0 -50px;
}

.footer__social-link_tw {
  background: url("../img/sprite-tw.png");
}
.footer__social-link_tw:hover {
  background-position: 0 -50px;
}

.popup {
  display: block;
}