// $width 100px 

$width: 170px;
$color-pink: #FFC0CB;

.list {
    list-style: none;
}

.item {
    display: inline-block;
    margin-left: 20px;
}

.qwerty {
    height: $width;
    width: $width;
    position: relative;
    opacity: 0;
}

.item {
    transition: .5s;
    &:hover {
        background: black;
        transform: scale(1.2);
        transition: .5s;
        color: $color-pink;
        animation: rotate 1s;
        border: 1px solid #000;
        opacity: 1;
    }

    

    @keyframes rotate {
        0% {
            transform: rotate(0deg);
            }
        25% {
            transform: rotate(-15deg);
            }
        50% {
            transform: rotate(15deg);
        }
        100% {
            transform: scale(2);
            }
    }
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// $width:100px;
// $color:#000;


// @mixin circle ($width, $color) {
//     width: $width;
//     height:$width;
//     background: $color;
//     border-radius: $width/2;
// }

// .circle {
//     @include circle ($width, $color)
// }