$red: #e35028;

.button {
    padding: 8px 15px;
    background: $red;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;

    &_transparent {
            background-color: transparent;
    }

    &_phones {
        padding: 10px 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
}