$black: #2f3234;
$yellow: #f9b43b;


@mixin tablets {
    @media screen and (max-width: $tablets) {
        @content;
    }
} 

@mixin phones {
    @media screen and (max-width: $phones) {
        @content;
    }
}

.through-title {
    font-family: 'Gagalin', Helvetica, sans-serif;
    font-size: 4.5rem;
    color: $yellow;
    
    &_color {
        &_black {
            color: $black;
        }  
    }

    &_align {
        &_center {
            display: flex;
            justify-content: center;
            margin-bottom: 45px;

            @include phones {
                text-align: center;
            }
        }
    }

    &_margin {
        margin-bottom: 40px;
    }

    &_color {
        &_white {
            color: #fff;
        }
    }

    &_lineheight {
        line-height: 1em;
        margin-bottom: 50px;

        @include tablets {
            width: 50%;
        }
    }
    
    &_phones {
        @include phones {
            width: 100%;
            margin-bottom: rem(40px);
        }
    }
}