$black: #2f3234;
$yellow: #f9b43b;

.through-title {
    font-size: 4.5rem;
    color: $yellow;
    
    &_color {
        &_black {
            color: $black;
        }  
    }

    &_align {
        &_center {
            display: flex;
            justify-content: center;
            margin-bottom: rem(45px);
        }
    }

    &_margin {
        margin-bottom: rem(40px);
    }

    &_color {
        &_white {
            color: #fff;
        }
    }

    &_lineheight {
        line-height: 1em;
        margin-bottom: rem(50px);
    }
}