$red: #e35028;

.catalog {
    background: url('../img/catalog-bg.png') center center no-repeat; 
    background-size: cover;
    display: flex;
    align-items: center;
}

.composition {
    background: #f08c33;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 90px;
    // height: 90px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    // margin-top: 90px;
}

.container-catalog {
    flex-direction: row;
    align-items: center;
}

.catalog__content-price {
    display: flex;
    align-items: baseline;
}

.price__numeral {
    font-size: 72px;
    color: $red;
}

.price__text {
    margin-right: 30px;
    margin-left: 10px;
    color: $red;
}