$red: #e35028;

.catalog {
    background: url('../img/catalog-bg.png') center center no-repeat; 
    background-size: cover;
    display: flex;
    align-items: center;
}

.slider {
    width: 900px;
    height: 457px;
    // overflow: hidden;
}

.slick__list {
    // display: flex;
}

.slick__item {
    display: flex;
    width: 900px;
    float: left;
}

.composition__title {
    font-family: 'Gagalin', Helvetica, sans-serif;
}

.composition {
    background: #f08c33;
    padding: rem(10px) rem(20px);
    display: flex;
    flex-direction: column;
    align-items: start;
    width: rem(90px);
    // height: 90px;
    border-radius: rem(5px);
    color: #fff;
    text-decoration: none;
    // margin-top: 90px;
}



.container-catalog {
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 20px;

    @include tablets {
        flex-direction: column;
        justify-content: center;
        width: 95%;
    }

    @include phones {
        padding: 0;
    }
}

.arrow {

    &__left {
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        top: 50%;
        left: 1%;
        content: "";
        border-top: 1px solid transparent;
        border-right: 1px solid transparent;
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
        transform: rotate(45deg);

        @include tablets {
            left: 4%;
        }

        @include phones {
            top: 45%;
        }
    }

    &__right {
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        top: 50%;
        left: 97%;
        content: "";
        border-top: 1px solid transparent;
        border-right: 1px solid transparent;
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
        transform: rotate(-135deg);

        @include phones {
            left: 93%;
            top: 45%;
        }
    }
    
}

.catalog__picture,
.catalog__content {
    width: 50%;
    
    @include tablets {
        width: 80%;
    }
}

.catalog__picture {
    
    @include tablets {    
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
}

.catalog__picture-icon {
    margin-right: rem(20px);
      
    @include tablets {
        display: flex;
        max-width: 100%;
        justify-content: center;
    }
}

.catalog__content {

    @include tablets {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
}

.catalog__content-description {
    line-height: 1.80em;
    color: #fff;
    font-size: rem(14px);

    @include tablets {
        width: 90%;
    }
}

.catalog__content-price {
    display: flex;
    align-items: baseline;

    @include tablets {
        justify-content: center;
    }
}

.price__numeral {
    font-family: 'Gagalin', Helvetica, sans-serif;
    font-size: rem(72px);
    color: $red;
}

.price__text {
    font-family: 'Gagalin', Helvetica, sans-serif;
    margin-right: rem(30px);
    margin-left: rem(10px);
    color: $red;
}

.burger-pic {
    display: block;
    max-width: 100%;
    
    @include phones {
        padding-top: rem(100px);
        max-width: 200%;
    }
}