.leading {
    background: url('../img/main-bg.jpg') center center no-repeat; 
    background-size: cover;
}

.header {
    display: flex;
    align-items: center;
}

.nav {
    margin-right: rem(15px);

    @include tablets {
        display: none;
    }
}

.nav__list {
    display: flex;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: rem(13px);
    text-transform: uppercase;

    &:after {
        content: "";
        display: block;
        width: rem(4px);
        height: rem(4px);
        border-radius: 50%;
        background: #fff;
        margin: 0 rem(16px);
    }

}

.nav__item {
    &:last-child {
        .nav__link:after {
            display: none;
        }
    }
}


.header__buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.burger__menu {
    display: none;

    @include tablets {
        display: block;
    }
}

.burger__menu-trigger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.burger__menu-stick {
    content: "";
    background: #fff;
    width: 24px;
    height: 4px;
    margin-bottom: 5px;
    border-radius: 3px;
    margin-left: 30px;

    &:last-child {
        margin-bottom: 0;
    }
}

.leading__content {
    flex: .8;
    display: flex;
    align-items: center;

    @include tablets {
        flex-direction: column;
        text-align: center;
        padding: 0 90px;
    }

    @include phones {
        padding: 0;
    }
}

.leading__pic-img {
    display: block;
    max-width: 100%;
}

.leading__description {
    font-family: 'Lifehack-Medium', Helvetica, sans-serif;
    font-size: rem(65px);
}

.leading__text {
    color: #fff;
}

.container__leading {
    flex: .8;
    height: 100%;
}

.arrow-down {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: 90%;
    left: 50%;
    content: "";
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(-45deg);
}

