.leading {
    background: url('../img/main-bg.jpg') center center no-repeat; 
    background-size: cover;
}

.header {
    display: flex;
    align-items: center;
    position: relative;
}



.nav {
    margin-right: rem(15px);

    @include tablets {
        display: none;
    }

    @include phones {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }
}


.nav__list {
    display: flex;

    @include tablets {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

.nav__item {
    @include phones {
        margin-bottom: 10px;
        margin-right: 20px;
    }
}

.nav__link {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: rem(13px);
    text-transform: uppercase;

    &:after {
        content: "";
        display: block;
        width: rem(4px);
        height: rem(4px);
        border-radius: 50%;
        background: #fff;
        margin: 0 rem(16px);
        
        @include phones {
            display: none;
        }
    }

}

.nav__item {
    &:last-child {
        .nav__link:after {
            display: none;
        }
    }
}


.header__buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.burger__menu {
    display: none;

    @include tablets {
        display: block;
    }
}

.burger__menu-trigger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.burger__menu-stick {
    content: "";
    background: #fff;
    width: 24px;
    height: 4px;
    margin-bottom: 5px;
    border-radius: 3px;
    margin-left: 30px;

    &:last-child {
        margin-bottom: 0;
    }
}

.leading__content {
    flex: .8;
    display: flex;
    align-items: center;

    @include tablets {
        flex-direction: column;
        text-align: center;
        padding: 0 90px;
    }

    @include phones {
        padding: 0;
    }
}

.leading__pic-img {
    display: block;
    max-width: 100%;
}

.leading__description {
    font-family: 'Lifehack-Medium', Helvetica, sans-serif;
    font-size: rem(65px);
}

.leading__text {
    color: #fff;
}

.container__leading {
    flex: .8;
    height: 100%;
}

.arrow-down {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: 90%;
    left: 50%;
    content: "";
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(-45deg);
}

.burger-menu {
    position: fixed;
    top: 100%;
    // top: 0;
    // left: 999999px;
    z-index: 99999;
    height: 100%;
    width: 100%;
    background: rgba(#000, 0.9);
    // opacity: 0;
    overflow: hidden;
    height: 100%;
    transition: 1s;
}

.burger-menu__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo__pic {
    margin-left: 24px;
}

.burger-menu__content {
    display: flex;
    height: 100%;
}

.burger-menu__nav {
    margin: auto;
    // text-align: center;
}

.burger-menu__nav-list {
    text-align: center;
}

.burger-menu__nav-item {
    position: relative;
    margin-bottom: 20px;
    &::after {
        content: "";
        width: 5px;
        height: 5px;
        background: #fff;
        display: block;
        border-radius: 50%;
        margin-right: 0;
        position: absolute;
        top: 30px;
        left: 65px;
    }

    &:last-child {
        &::after {
            display: none;
        }
    }
}

.burger-menu__nav-link {
    font-family: 'Gagalin', Helvetica, sans-serif;
    color: #fff;
    font-size: 1.25rem;
    text-decoration: none;
}

.cross__pic {
    width: 20px;
    height: 20px;
    margin-right: 36px;
    margin-top: 5px;
}

.nav__active {
    top: 0;
}