.map {
    position: relative;
}

.map__pic {
    width: 100%;
    height: 100%;
}

.footer {
    background: rgba(#000, 0.8);
    color: #fff;
    font-size: rem(14px);
    height: rem(60px);
    display: flex;
    align-items: center;
    position: absolute;
    top: 94%;
    left: 0;
}

.container__footer {
    flex-direction: row;
    width: 100%;
}

.footer__col-right,
.footer__col-left {
    width: 50%;
}

.footer__phone {
    display: flex;
    color: $red;

    &-number {
        margin-left: rem(10px);
    }
}

// доделать правую колонку

.footer__social-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer__social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.footer__social-link {
    background: url('../img/sprite-social.png');
    width: rem(25px);
    height: rem(25px);
    display: block;
}

.footer__social-link_vk {
    background-position: 0 0;
    height: rem(13px);

    &:hover {
        background-position: 0 bottom;
    }
}

.footer__social-link_fb {
    background-position: -50px 0;
    height: rem(20px);
    width: rem(20px);

    &:hover {
        background-position: rem(-50px) bottom;
    }
}

.footer__social-link_inst {
    background-position: rem(-100px) 0;
    height: rem(20px);
    width: rem(20px);

    &:hover {
        background-position: 0 bottom;
    }
}

.footer__social-link_tw {
    background-position: rem(-150px) 0;
    height: rem(16px);
    width: rem(20px);

    &:hover {
        background-position: 0 bottom;
    }
}

