.menu {
    background: url('../img/menu-bg.jpg') center center no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    display: flex;
}

.menu__col {
    height: 100vh;
    
    &_left {
        width: 40%;
    }

    &_right {
        width: 60%;
    }
}

.trigger {
    background: url(../img/menu-meat-bg.jpg) center center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 80px;
    position: relative;
    
}

