.reviews__list {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.reviews__item {
    width: 25%;
    height: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    position: relative;

    &:hover {
        .reviews__hover {
            opacity: 1;
            transition: .3s;
        }
    }

    @include tablets {
        width: 50%;
        height: 25%;
    }

    @include phones {
        &:hover {
            .phones__button {
                opacity: 1;
                transition: .3s;
            }
        }
    }
}

.reviews__hover {
    opacity: 0;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(#454545, .7);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    @include phones {
        display: none;
    }
}

.phones__button-name {
    color: #fff;
    text-align: center;
    font-weight: bold;
    width: 50%;
    margin-bottom: rem(30px);
}

.reviews__hover-text {
    margin-top: rem(30px);
    margin-bottom: rem(20px);
    margin-left: rem(20px);
}

.phones__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
}

