$yellow: #f9b43b;

.team {
    background: url('../img/team-bg.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
}

.team__container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background: rgba(#2f3234, .93);
    padding-left: rem(70px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablets {
        width: 100%;
    }

    @include phones {
        padding: 0;
    }
}

.team__content {
    
    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.team-trigger {
    color: #fff;
    display: flex;
    align-items: center;

    &:before {
        content: "";
        height: 0;
        width: 0;
        border: rem(9px) solid transparent;
        border-top-color: $yellow;
        border-bottom-width: 0px;
        margin-right: rem(10px);
    }
}

.team-trigger__content {
    
    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.trigger__content-pic {
    background: url('../img/team-avatar.jpg') center center no-repeat;
    width: rem(100px);
    height: rem(100px);
    border-radius: 50%;
}

.team-trigger__content {
    display: none;

    @include tablets {
        margin-left: 0;
    }
}

.team__list {

    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.team__item_active {

    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .team-trigger {
        color: $yellow;

        &:before {
            transform: rotate(-180deg);
        } 
    }
    
    .team-trigger__content {
        display: flex;
        margin-top: rem(20px);
        margin-bottom: rem(40px);
        margin-left: rem(17px);

        @include tablets {
            margin-left: 0;
        }
    }
}

.content-text__title {
    margin-bottom: rem(20px);
}

.trigger__content-text {
    margin-left: rem(20px);
    color: #fff;

    @include tablets {
        margin-left: 0;
    }
}