.video {
    background: url('../img/video-bg.jpg') center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.through-title {
    text-align: center;
    margin-bottom: 50px;
}